.container {
	background-color: white;
	z-index: 1;
}

.shown {
	composes: container;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.hidden {
	composes: container;
	display: none;
}

.items {
	display: inline-flex;
}

.items > * {
	margin: 0 4px;
}

.button {
	height: 25px;
}

.blue-selected {
	color: blue;
}

.yellow-selected {
	color: yellow;
}

.red-selected {
	color: red;
}

.button-blue {
	composes: button;
	border-color: blue;
}

.button-yellow {
	composes: button;
	border-color: yellow;
}

.button-red {
	composes: button;
	border-color: red;
}

.input {
	font-size: 12px;
	width: 60px;
}
